@font-face {
    font-family: Montserrat;
    src: url(../assets/Montserrat-Light.ttf);
}

:root {
    /*--main-bg-color: #212529;*/
    /*--main-bg-color-2: #272B2F;*/
    --main-bg-color: #191A1A;
    --main-bg-color-2: #111110;
    --main-accent-color: #f51b45;
    --main-accent-color-2: #6bbcab;
    --main-lighter: #757373;
    --main-text-color: rgba(255, 255, 255, 0.9);
    --main-text-height: clamp(0.5rem, 1.22vw, 2rem);
    --margin: clamp(0.25rem, 0.4vw, 0.7rem);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 25vw 75vw;
    grid-template-rows: 80vh 20vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: var(--main-text-color);
    overflow: hidden;
}
#map {
    grid-row: 1/2;
    grid-column: 2/3;
    margin: var(--margin) var(--margin) 0 0;
    border-radius: 5px;
}

body > div {
    box-shadow: 0 0 11px 0 rgba(0,0,0,0.5);
}

/*
LEFT SIDE, TWEETS
*/

#tweets_wrapper {
    grid-row: 1/3;
    grid-column: 1/2;
    display: grid;
    background-color: var(--main-bg-color-2);
    border-radius: 5px;
    margin-right: var(--margin);
    grid-template-rows: 8vh 20vh 72vh;
    overflow: hidden;
}

#tweets_header {
    grid-row: 1/2;
    grid-column: 1/1;
    background-color: var(--main-bg-color-2);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
}

#tweets_header_accent {
    position: absolute;
    background-color: var(--main-accent-color);
    width: 100%;
    height: 5px;
    bottom: -5px;
    left: 0;
}

#tweets_title{
    font-size: calc(var(--main-text-height) * 1.5 );
    padding: 1rem;
}

#tweets_body {
    grid-row: 2/3;
    grid-column: 1/1;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#tweets_manual {
    grid-row: 3/4;
    grid-column: 1/1;
    overflow: hidden;
    text-align: justify;
    padding: 1.5rem;
    font-size: calc(var(--main-text-height) / 1.5);
}

#tweets_body p {
    text-align: center;
    margin: calc(0.5rem + 5px) 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem;
    overflow: hidden;
    font-size: calc(var(--main-text-height) / 1.2);
    background-color: var(--main-bg-color);
    border-radius: 5px;
    box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.5);
}

#button_next {
    outline: none;
    color: var(--main-lighter);
    padding: 0rem 1rem;
    font-size: var(--main-text-height);
    border: 2px solid var(--main-lighter);
    background-color: transparent;
    border-radius: 5px;
    transition: all 300ms ease;
}

#button_next:hover {
    background-color: #3b9d0d;
    border-color: #3b9d0d;
    color: var(--main-bg-color);
}

#addRule, #addRuleButton, #rule {
    font-family: 'Montserrat', sans-serif;
}

/*
BOTTOM, SELECTORS
*/

#selectors_wrapper {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: var(--main-text-height);
    background-color: var(--main-bg-color-2);
    border-radius: 5px;
    margin: var(--margin) var(--margin) var(--margin) 0;
}
/*
CUSTOM CHECKBOXES
*/

.checkbox{
    padding: 0.2rem;
    display: flex;
    border-radius: calc(var(--main-text-height) / 2);
}

label {
    user-select: none;
}

.custom_checkbox_2{
    appearance: none;
}

.custom_checkbox_2 + label{
    padding: 0.2rem;
    border-radius: 2px;
}

.custom_checkbox_2:checked + label {
    background-color: #6bbcab;
}

.negativeFeedback {
    animation: glowRed 1s ease;
}

@keyframes glowRed {
    0% {
        box-shadow: 0 0 13px -23px rgba(184, 57, 77, 0.75), inset 0 0 13px -23px rgba(184, 57, 77, 0.75);
    }
    50% {
        box-shadow: 0 0 15px 10px rgba(184, 57, 77, 0.75), inset 0 0 15px 10px rgba(184, 57, 77, 0.75);
    }
    100% {
        box-shadow: 0 0 13px -23px rgba(184, 57, 77, 0.75), inset 0 0 13px -23px rgba(184, 57, 77, 0.75);
    }
}

#toggleRules {
    text-align: center;
    cursor: pointer;
    display: block;
    border: 2px solid var(--main-lighter);
    border-radius: 5px;
    padding: 1rem;
    transition: all 300ms;
}

#toggleRules:hover {
    color: var(--main-accent-color);
    border: 2px solid var(--main-accent-color);
}

.leaflet-control-attribution {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: rgba(255, 255, 255, 0.3) !important;
}

.leaflet-container {
    background-color: transparent !important;
}

.leaflet-bar a {
    background-color: rgba(255, 255, 255, 0.5) !important;
    border: none !important;
}

.leaflet-bar a+a {
    border-top: 3px solid rgba(0, 0, 0, 0.1) !important;
}

.leaflet-bar a:hover {
    border: none !important;
}

.leaflet-bar a+a:hover {
    border-top: 3px solid rgba(0, 0, 0, 0.1) !important;
}


@media only screen and (max-width: 1920px) {
    body {
        grid-template-columns: 32.5vw 67.5vw;
        grid-template-rows: 75vh 25vh;
    }
}